In [68]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [70]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [71]:
# Get a brief summary of the crowdfunding_info DataFrame.
summary = crowdfunding_info_df.describe()
print(summary)

             cf_id   contact_id           goal        pledged  backers_count  \
count  1000.000000  1000.000000    1000.000000    1000.000000    1000.000000
mean   1585.743000  3751.434000   43983.100000   42748.055000     727.005000
std     926.944534  1431.743284   58962.425595   57415.481551    1137.723135
min      23.000000  1235.000000     100.000000       0.000000       0.000000
25%     758.750000  2502.750000    4200.000000    5911.250000      86.000000
50%    1571.500000  3706.500000    8300.000000   11950.000000     184.500000
75%    2402.250000  4994.250000   80625.000000   66294.250000     923.750000
max    3209.000000  6234.000000  199200.000000  199110.000000    7295.000000

        launched_at      deadline
count  1.000000e+03  1.000000e+03
mean   1.610955e+09  1.627459e+09
std    1.330154e+07  9.072194e+06
min    1.579068e+09  1.609913e+09
25%    1.601507e+09  1.619672e+09
50%    1.611554e+09  1.627232e+09
75%    1.620018e+09  1.635224e+09
max    1.643695e+09  1.645596e+09

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [73]:
# Get the crowdfunding_info_df columns.
columns = crowdfunding_info_df.columns

In [74]:
import pandas as pd

data = {
    'category': ['food', 'music', 'technology', 'music', 'theater'],
    'subcategory': ['food trucks', 'rock', 'web', 'rock', 'plays']
}

# Create the DataFrame
crowdfunding_info_df = pd.DataFrame(data)

# Assign the category and subcategory values to category and subcategory columns.
category_values = ['food', 'music', 'technology', 'music', 'theater'] * 200
subcategory_values = ['food trucks', 'rock', 'web', 'rock', 'plays'] * 200

# Display the updated DataFrame
crowdfunding_info_df.head()

     category  subcategory
0        food  food trucks
1       music         rock
2  technology          web
3       music         rock
4     theater        plays

In [75]:
# Get the unique categories and subcategories in separate lists.
unique_categories = crowdfunding_info_df['category'].unique().tolist()
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist()

print("Unique Categories:", unique_categories)
print("Unique Subcategories:", unique_subcategories)

Unique Categories: ['food', 'music', 'technology', 'theater']
Unique Subcategories: ['food trucks', 'rock', 'web', 'plays']

In [76]:
# Get the number of distinct values in the categories and subcategories lists.
num_unique_categories = len(unique_categories)
num_unique_subcategories = len(unique_subcategories)

print(len(categories))
print(len(subcategories))

NameError: name 'categories' is not defined

In [ ]:
import numpy as np

# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

In [ ]:
# Use a list comprehension to add "cat" to each category_id. 
category_ids = [f"cat{id}" for id in category_ids]

# Use a list comprehension to add "subcat" to each subcategory_id.    
subcategory_ids = [f"subcat{id}" for id in subcategory_ids] 
    
print(cat_ids)
print(scat_ids)

In [ ]:
import pandas as pd

# Define your category_id array and categories list
category_ids = [1, 2, 3, 4, 5]
categories = ['food', 'music', 'technology', 'theater', 'art']

# Create a dictionary to hold the category data
category_data = {
    'category_id': category_ids,
    'category_name': categories
}

# Create the category DataFrame
category_df = pd.DataFrame(category_data)

# Display the category DataFrame
print("Category DataFrame:")
print(category_df)

# Define your subcategory_id array and subcategories list
subcategory_ids = [1, 2, 3, 4, 5]
subcategories = ['food trucks', 'rock', 'web', 'plays', 'painting']

# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
subcategory_data = {
    'subcategory_id': subcategory_ids,
    'subcategory_name': subcategories
}

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame(subcategory_data)

# Display the subcategory DataFrame
print("\nSubcategory DataFrame:")
print(subcategory_df)

In [ ]:
category_df

In [ ]:
subcategory_df

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()

#Display the first few rows of the campaign_df DataFrame
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={
    'blurb': 'description',
    'launched_at': 'launch_date',
    'deadline': 'end_date'
})

# Display the updated DataFrame
campaign_df.head()

In [ ]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

# Display the updated DataFrame
campaign_df.head()

In [ ]:
# Check the datatypes
print(campaign_df.dtypes)

In [ ]:
# Import necessary libraries
import pandas as pd
from datetime import datetime as dt

# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'])
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])

# Display the updated DataFrame to confirm the changes
print(campaign_df.dtypes)

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
merged_df = pd.merge(campaign_df, category_df, left_on='category', right_on='category_name')

# the subcategory_df on the "subcategory" column.
merged_df = pd.merge(merged_df, subcategory_df, left_on='subcategory', right_on='subcategory_name')

# Display the merged DataFrame
campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns
columns_to_drop = ['category_name', 'subcategory_name']  
merged_df = merged_df.drop(columns=columns_to_drop)

# Display the updated DataFrame
merged_df.head()

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

# Define your lists of values
contact_ids = [1, 2, 3, 4, 5]
names = ['Alston Armah', 'Sianneh Armah', 'Jeremy Armah', 'Lusu Armah', 'James Armah']  # Corrected with quotes
emails = ['alston@yahoo.com', 'sianneh@yahoo.com', 'jeremy@yahoo.com', 'lusu@yahoo.com', 'james@yahoo.com']

# Create a dictionary to hold the data
contact_data = {
    'contact_id': contact_ids,
    'name': names,
    'email': emails
}

# Create a DataFrame from the dictionary
contact_info_df = pd.DataFrame(contact_data)

# Display the new DataFrame
print(contact_info_df)

In [ ]:
# Check the datatypes.
print(contact_info_df.dtypes)

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info_df[['first_name', 'last_name']] = contact_info_df['name'].str.split(' ', 1, expand=True)

# Drop the contact_name column
contact_info_df = contact_info_df.drop(columns=['name'])

In [ ]:
# Define the desired column order
desired_order = ['contact_id', 'first_name', 'last_name', 'email']

# Reorder the columns 
contact_info_df = contact_info_df[desired_order]

# Display the updated DataFrame
print(contact_info_df)

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
print(contact_info_df.dtypes)

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)