In [5]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [7]:
import pandas as pd

# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [8]:
# Get a brief summary of the crowdfunding_info DataFrame.
summary = crowdfunding_info_df.describe()
print(summary)

             cf_id   contact_id           goal        pledged  backers_count  \
count  1000.000000  1000.000000    1000.000000    1000.000000    1000.000000
mean   1585.743000  3751.434000   43983.100000   42748.055000     727.005000
std     926.944534  1431.743284   58962.425595   57415.481551    1137.723135
min      23.000000  1235.000000     100.000000       0.000000       0.000000
25%     758.750000  2502.750000    4200.000000    5911.250000      86.000000
50%    1571.500000  3706.500000    8300.000000   11950.000000     184.500000
75%    2402.250000  4994.250000   80625.000000   66294.250000     923.750000
max    3209.000000  6234.000000  199200.000000  199110.000000    7295.000000

        launched_at      deadline
count  1.000000e+03  1.000000e+03
mean   1.610955e+09  1.627459e+09
std    1.330154e+07  9.072194e+06
min    1.579068e+09  1.609913e+09
25%    1.601507e+09  1.619672e+09
50%    1.611554e+09  1.627232e+09
75%    1.620018e+09  1.635224e+09
max    1.643695e+09  1.645596e+09

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [10]:
import pandas as pd 
# Read the Excel file 
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')

# Get the crowdfunding_info_df columns.
columns = crowdfunding_info_df.columns 
print(columns)

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [11]:
import pandas as pd

# Define the new category values and the sub category values
new_category_values = ['food', 'music', 'technology', 'music', 'theater']
new_subcategory_values = ['food truck', 'rock', 'web', 'rock', 'play']

# Create a new data frame or load an existing one
crowdfunding_info_df = pd.DataFrame()

# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df['category'] = new_category_values 
crowdfunding_info_df['subcategory'] = new_subcategory_values

print(crowdfunding_info_df)

     category subcategory
0        food  food truck
1       music        rock
2  technology         web
3       music        rock
4     theater        play

In [12]:
# Get the unique categories and subcategories in separate lists.
unique_categories = crowdfunding_info_df['category'].unique().tolist() 
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist() 

print("categories", unique_categories)
print("subcategories", unique_subcategories)

categories ['food', 'music', 'technology', 'theater']
subcategories ['food truck', 'rock', 'web', 'play']

In [13]:
# Define categories and subcategories 
categories = unique_categories 
subcategories = unique_subcategories

# Get the number of distinct values in the categories and subcategories lists.
print("number of distinct categories:", len(categories))
print("number of distinct subcategories:", len(subcategories))

number of distinct categories: 4
number of distinct subcategories: 4

In [14]:
import numpy as np

# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [15]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

# Use a list comprehension to add "cat" to each category_id
cat_ids = ["cat" + str(id) for id in category_ids]

# Use a list comprehension to add "subcat" to each subcategory_id
scat_ids = ["subcat" + str(id) for id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [16]:
import pandas as pd

category_name = ['food', 'music', 'technology', 'music', 'theater']
category_ids = [1, 2, 3, 4, 5]  
cat1 = 1
cat2 = 2
cat3 = 3
cat4 = 4
cat5 = 5
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': category_ids, 'category_name': category_name})

# Define subcategory_ids and subcategory_name before creating the DataFrame
subcat1 = 1
subcat2 = 2
subcat3 = 3
subcat4 = 4
subcat5 = 5
subcategory_ids = [subcat1, subcat2, subcat3, subcat4, subcat5]
subcategory_names = ['food truck', 'rock', 'web', 'rock', 'play']  

subcategory_df = pd.DataFrame({'subcategory_id': subcategory_ids, 'subcategory_name': subcategory_names})

print(category_df)
print(subcategory_df)

   category_id category_name
0            1          food
1            2         music
2            3    technology
3            4         music
4            5       theater
   subcategory_id subcategory_name
0               1       food truck
1               2             rock
2               3              web
3               4             rock
4               5             play

In [17]:
category_df

   category_id category_name
0            1          food
1            2         music
2            3    technology
3            4         music
4            5       theater

In [18]:
subcategory_df

   subcategory_id subcategory_name
0               1       food truck
1               2             rock
2               3              web
3               4             rock
4               5             play

In [19]:
import pandas as pd

category_name = ['food', 'music', 'technology', 'music', 'theater']
category_ids = [1, 2, 3, 4, 5]  

# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': category_ids, 'category_name': category_name})

# Define subcategory_ids and subcategory_name before creating the DataFrame
subcategory_ids = [1, 2, 3, 4, 5]
subcategory_names = ['food truck', 'rock', 'web', 'rock', 'play']  

subcategory_df = pd.DataFrame({'subcategory_id': subcategory_ids, 'subcategory_name': subcategory_names})

# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)
subcategory_df.to_csv("Resources/subcategory.csv", index=False)

print(category_df)
print(subcategory_df)

   category_id category_name
0            1          food
1            2         music
2            3    technology
3            4         music
4            5       theater
   subcategory_id subcategory_name
0               1       food truck
1               2             rock
2               3              web
3               4             rock
4               5             play

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [21]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

     category subcategory
0        food  food truck
1       music        rock
2  technology         web
3       music        rock
4     theater        play

In [22]:
# Rename the blurb, launched_at, and deadline columns.
import pandas as pd

# Create DataFrame with "blurb", "launched_at", and "deadline" columns
data = {
    'blurb': ['pre-emptive tertiary standardization', 'managed bottom-line architecture', 'function-based leadingedge pricing structure', 'vision-oriented fresh-thinking conglomeration'],
    'launched_at': ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01'],
    'deadline': ['2023-12-31', '2023-11-30', '2023-10-31', '2023-09-30']
}
df = pd.DataFrame(data)

# Rename the columns
df.rename(columns={'blurb': 'description', 'launched_at': 'launch_date', 'deadline': 'end_date'}, inplace=True)

print(df)

                                     description launch_date    end_date
0           pre-emptive tertiary standardization  2023-01-01  2023-12-31
1               managed bottom-line architecture  2023-02-01  2023-11-30
2   function-based leadingedge pricing structure  2023-03-01  2023-10-31
3  vision-oriented fresh-thinking conglomeration  2023-04-01  2023-09-30

In [23]:
import pandas as pd

# Create DataFrame with "goal" and "pledged" columns
data = {
    'goal': ['7800.0', '9800.0', '3100', '9800'],
    'pledged': ['6839.0', '11091.0', '13223.0', '7608.0']
}
df = pd.DataFrame(data)

# Convert the "goal" and "pledged" columns to a float data type
df['goal'] = df['goal'].astype(float)
df['pledged'] = df['pledged'].astype(float)

print(df.dtypes)

goal       float64
pledged    float64
dtype: object

In [24]:
import pandas as pd

# Create DataFrame with "goal" and "pledged" columns
data = {
    'goal': ['7800.0', '9800.0', '3100', '9800'],
    'pledged': ['6839.0', '11091.0', '13223.0', '7608.0']
}
df = pd.DataFrame(data)

# Convert the "goal" and "pledged" columns to a float data type
df['goal'] = df['goal'].astype(float)
df['pledged'] = df['pledged'].astype(float)

# Check the datatypes 
print(df.dtypes)

goal       float64
pledged    float64
dtype: object

In [25]:
import pandas as pd
from datetime import datetime as dt

# Create a DataFrame with "launched_date" and "end_date" columns
data = {
    'launched_date': ['2021-06-09', '2020-12-09', '2020-06-14', '2021-07-03'],
    'end_date': ['2021-06-18', '2021-05-26', '2021-02-09', '2021-07-08']
}
df = pd.DataFrame(data)

# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
df['launched_date'] = pd.to_datetime(df['launched_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

# Check the datatypes of the columns
print(df.dtypes)

launched_date    datetime64[ns]
end_date         datetime64[ns]
dtype: object

In [26]:
import pandas as pd

# Create the DataFrame
campaign_df = pd.DataFrame({
    'campaign_id': [990, 991, 992, 993],
    'category': ['film & video', 'music', 'film & video', 'photography'],
    'subcategory': ['drama', 'rock', 'photography book', 'drama']
})

category_df = pd.DataFrame({
    'category': ['film & video', 'music', 'photography'],
    'category_name': ['film & video', 'music', 'photography']
})

subcategory_df = pd.DataFrame({
    'subcategory': ['drama', 'rock', 'photography'],
    'subcategory_name': ['drama', 'rock', 'photography']
})

# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
merged_df = campaign_df.merge(category_df, on='category').merge(subcategory_df, on='subcategory')

# Display the last 10 rows of the merged DataFrame
print(merged_df.tail(10))

   campaign_id      category subcategory category_name subcategory_name
0          990  film & video       drama  film & video            drama
1          991         music        rock         music             rock
2          993   photography       drama   photography            drama

In [27]:
import pandas as pd

# Create the merged DataFrame columns
data = {
    'campaign_id': [990, 991, 993],
    'category': ['film & video', 'music', 'photography'],
    'subcategory': ['drama', 'rock', 'drama'],
    'category_name': ['film & video', 'music', 'photography'],
    'subcategory_name': ['drama', 'rock', 'photography']
}
df = pd.DataFrame(data)

# Drop unwanted columns 
cols_to_drop = ['category_name', 'subcategory_name']
actual_cols_to_drop = [col for col in cols_to_drop if col in df.columns]

if actual_cols_to_drop:
    df.drop(actual_cols_to_drop, axis=1, inplace=True)

print(df)

   campaign_id      category subcategory
0          990  film & video       drama
1          991         music        rock
2          993   photography       drama

In [28]:
import pandas as pd

# Create a DataFrame
data = {
    'Category': ['A', 'B', 'C'],
    'Count': [10, 20, 30]
}

# Create a DataFrame
campaign_cleaned = pd.DataFrame(data)

# Export the DataFrame as a CSV file
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [30]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [33]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

[]

In [34]:
import pandas as pd

# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']
emails = ['john.doe@example.com', 'jane.smith@example.com', 'sam.brown@example.com', 'erick.rogers@example.com']

# Create a DataFrame with the contact_id, name, and email columns
contacts_df_clean = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
    'email': emails
})

print(contacts_df_clean)

   contact_id     company_name                     email
0        5500    Ortiz-Roberts      john.doe@example.com
1        3494      Ramirez LLC    jane.smith@example.com
2        3924       Morrow Inc     sam.brown@example.com
3        3521  Erickson-Rogers  erick.rogers@example.com

In [35]:
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']

# Create a DataFrame with the contact_id, name, and email columns
contact_info = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
    'email': emails
})

# Check the datatypes 
print(contact_info.dtypes)

contact_id       int64
company_name    object
email           object
dtype: object

In [36]:
import pandas as pd

# Create name DataFrame
data = {'contact_name': ['Cecilia Velasco', 'Mariana Ellis	', 'Sofie Woods', 'Jeanette Iannotti', 'Samuel Sorgatz'] } 

df = pd.DataFrame(data)

# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
df[['first_name', 'last_name']] = df['contact_name'].str.split(' ', expand=True)

# Drop the contact_name column
df.drop('contact_name', axis=1, inplace=True) 

print(df)

  first_name last_name
0    Cecilia   Velasco
1    Mariana   Ellis\t
2      Sofie     Woods
3   Jeanette  Iannotti
4     Samuel   Sorgatz

In [37]:
# Reorder the columns
import pandas as pd

# DataFrame with "first_name" and "last_name" columns
data = {
    'first_name': ['Cecilia', 'Mariana', 'Sofie', 'Jeanette', 'Samuel'],
    'last_name': ['Velasco', 'Ellis/t', 'Woods', 'Iannotti', 'Sorgatz'],
}
df = pd.DataFrame(data)

# Reorder the columns
df = df[['last_name', 'first_name']]

print(df)

  last_name first_name
0   Velasco    Cecilia
1   Ellis/t    Mariana
2     Woods      Sofie
3  Iannotti   Jeanette
4   Sorgatz     Samuel

In [38]:
# Check the datatypes one more time before exporting as CSV file.
import pandas as pd

# DataFrame with "first_name" and "last_name" columns
data = {
    'first_name': ['Cecilia', 'Mariana', 'Sofie', 'Jeanette', 'Samuel'],
    'last_name': ['Velasco', 'Ellis/t', 'Woods', 'Iannotti', 'Sorgatz'],
}
df = pd.DataFrame(data)

# Check the datatypes of the columns
print(df.dtypes)

# Export the DataFrame as a CSV file
df.to_csv('output.csv', index=False)

first_name    object
last_name     object
dtype: object

In [39]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [41]:
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']


# Create a DataFrame with the contact_id, and name columns
contact_info_df = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
})

# Create a copy of the DataFrame
contact_info_df_copy = contact_info_df.copy()

# Display the first few rows of the copied DataFrame
contact_info_df_copy.head()

   contact_id     company_name
0        5500    Ortiz-Roberts
1        3494      Ramirez LLC
2        3924       Morrow Inc
3        3521  Erickson-Rogers

In [42]:
# Extract the four-digit contact ID number.
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']

# Create a DataFrame with the contact_id, and name columns
contact_info_df = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
})

# Extract the four-digit contact ID number
contact_info_df['contact_id'] = contact_info_df['contact_id'].astype(str).str.extract(r'(\d{4})')

print(contact_info_df)

  contact_id     company_name
0       5500    Ortiz-Roberts
1       3494      Ramirez LLC
2       3924       Morrow Inc
3       3521  Erickson-Rogers

In [43]:
# Check the datatypes.
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']

# Create a DataFrame with the contact_id, name, and email columns
contact_info_df = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
})

# Check the datatypes of the columns
print(contact_info_df.dtypes)

contact_id       int64
company_name    object
dtype: object

In [44]:
# Convert the "contact_id" column to an int64 data type.
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']
emails = ['john.doe@example.com', 'jane.smith@example.com', 'sam.brown@example.com', 'erick.rogers@example.com']

# Create a DataFrame with the contact_id, name, and email columns
contact_info_df = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names,
    'email': emails
})

# Extract the four-digit contact ID number
contact_info_df['contact_id'] = contact_info_df['contact_id'].astype(str).str.extract(r'(\d{4})')

# Convert the "contact_id" column to an int64 data type
contact_info_df['contact_id'] = contact_info_df['contact_id'].astype('int64')

# Check the datatypes of the columns
print(contact_info_df.dtypes)

contact_id       int64
company_name    object
email           object
dtype: object

In [45]:
import pandas as pd

# Create DataFrame with "company_name" column
data = {
    'company_name': ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']
}
df = pd.DataFrame(data)

# Extract the name of the contact and add it to a new column
df['contact_name'] = df['company_name'].str.split('-').str[0]

print(df)

      company_name contact_name
0    Ortiz-Roberts        Ortiz
1      Ramirez LLC  Ramirez LLC
2       Morrow Inc   Morrow Inc
3  Erickson-Rogers     Erickson

In [46]:
# Extract the email from the contacts and add the values to a new column.

In [47]:
import pandas as pd

# Sample lists of values
contact_ids = [5500, 3494, 3924, 3521]
company_names = ['Ortiz-Roberts', 'Ramirez LLC', 'Morrow Inc', 'Erickson-Rogers']

# Create a DataFrame with the contact_id, name, and email columns
contact_info_df = pd.DataFrame({
    'contact_id': contact_ids,
    'company_name': company_names 
})

# Extract the name of the contact and add it to a new column
contact_info_df['contact_name'] = contact_info_df['company_name'].str.split('-').str[0]

# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_info_df_copy = contact_info_df[['contact_id', 'contact_name']]

print(contact_info_df_copy)

   contact_id contact_name
0        5500        Ortiz
1        3494  Ramirez LLC
2        3924   Morrow Inc
3        3521     Erickson

In [48]:
import pandas as pd

# Create DataFrame with "name" column
data = {
    'name': ['Cecelia Velasco', 'Mariana Ellis', 'Sofie Woods', 'Jeanette Lannotti']
}
df = pd.DataFrame(data)

# Create a "first"name" and "last_name" column with the first and last names from the "name" column.
df['first_name'] = df['name'].str.split().str[0]
df['last_name'] = df['name'].str.split().str[-1]

# Drop the contact_name column
df.drop('name', axis=1, inplace=True)

print(df)

  first_name last_name
0    Cecelia   Velasco
1    Mariana     Ellis
2      Sofie     Woods
3   Jeanette  Lannotti

In [49]:
import pandas as pd

# Create DataFrame
data = {
    'first_name': ['Cecelia', 'Mariana', 'Sofie', 'Jeanette'],
    'last_name': ['Velasco', 'Ellis', 'Woods', 'Lannotti'],
    'email': ['cecilia.velasco@rodrigues.fr', 'mariana.ellis@rossi.org', 'sofie.woods@riviere.com', 'samuel.sorgatz@gmail.com']
}
df = pd.DataFrame(data)

# Reorder the columns
df = df[['last_name', 'first_name', 'email']]

print(df)

  last_name first_name                         email
0   Velasco    Cecelia  cecilia.velasco@rodrigues.fr
1     Ellis    Mariana       mariana.ellis@rossi.org
2     Woods      Sofie       sofie.woods@riviere.com
3  Lannotti   Jeanette      samuel.sorgatz@gmail.com

In [50]:
# Check the datatypes one more time before exporting as CSV file.

In [51]:
import pandas as pd

# Create a DataFrame
data = {
    'first_name': ['Cecelia', 'Mariana', 'Sofie', 'Jeanette'],
    'last_name': ['Velasco', 'Ellis', 'Woods', 'Lannotti'],
    'email': ['cecilia.velasco@rodrigues.fr', 'mariana.ellis@rossi.org', 'sofie.woods@riviere.com', 'samuel.sorgatz@gmail.com'],
}
contacts_df_clean = pd.DataFrame(data)

# Export the DataFrame as a CSV file  
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)