In [34]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [36]:
import pandas as pd

# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [37]:
# Get a brief summary of the crowdfunding_info DataFrame.

# Display the DataFrame's structure and data types
crowdfunding_info_df.info()

#Display summary statistics for numerical columns
crowdfunding_info_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

,cf_id,contact_id,goal,pledged,backers_count,launched_at,deadline
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,1585.743000,3751.434000,43983.100000,42748.055000,727.005000,1.610955e+09,1.627459e+09
std,926.944534,1431.743284,58962.425595,57415.481551,1137.723135,1.330154e+07,9.072194e+06
min,23.000000,1235.000000,100.000000,0.000000,0.000000,1.579068e+09,1.609913e+09
25%,758.750000,2502.750000,4200.000000,5911.250000,86.000000,1.601507e+09,1.619672e+09
50%,1571.500000,3706.500000,8300.000000,11950.000000,184.500000,1.611554e+09,1.627232e+09
75%,2402.250000,4994.250000,80625.000000,66294.250000,923.750000,1.620018e+09,1.635224e+09
max,3209.000000,6234.000000,199200.000000,199110.000000,7295.000000,1.643695e+09,1.645596e+09

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [39]:
# Get the crowdfunding_info_df columns.

# Get the columns of the crowdfunding_info_df DataFrame
columns = crowdfunding_info_df.columns

# Display the columns
print(columns)

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [40]:
import pandas as pd
data = {
    'category': ['food', 'music', 'technology', 'theater'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays']
}

crowdfunding_info_df = pd.DataFrame(data)
    
# Assign the category and subcategory values to category and subcategory columns.

# Extract unique categories and subcategories
unique_categories = crowdfunding_info_df['category'].unique()
unique_subcategories = crowdfunding_info_df['subcategory'].unique()

# Create Category DataFrame
category_df = pd.DataFrame({
    'category_id': range(1, len(unique_categories) + 1),
    'category': unique_categories
})

# Create Subcategory DataFrame
subcategory_df = pd.DataFrame({
    'category_id': range(1, len(unique_subcategories) + 1),
    'subcategory': unique_subcategories
})

In [41]:
# Get the unique categories and subcategories in separate lists.

# Get unique categories
unique_categories = crowdfunding_info_df['category'].unique().tolist()

# Get unique subcategories
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist()

print(unique_categories)
print(unique_subcategories)

['food', 'music', 'technology', 'theater']
['food trucks', 'rocks', 'web', 'plays']

In [42]:
# Define the categories and subcategories lists
categories = ['food', 'music', 'technology', 'theater']
subcategories = ['food trucks', 'rocks', 'web', 'plays']

# Get the number of distinct values in the categories and subcategories lists
print(len(categories))
print(len(subcategories))

4
4

In [43]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [44]:
import pandas as pd
data = {
    'category': ['food', 'music', 'technology', 'theater'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays']
}

crowdfunding_info_df = pd.DataFrame(data)

# Extract unique categories and subcategories 
unique_categories = crowdfunding_info_df['category'].unique() 
unique_subcategories = crowdfunding_info_df['subcategory'].unique()

# Create Category DataFrame 
category_df = pd.DataFrame({ 
    'category_id': range(1, len(unique_categories) + 1), 
    'category': unique_categories })

# Create Subcategory DataFrame 
subcategory_df = pd.DataFrame({ 
    'subcategory_id': range(1, len(unique_subcategories) + 1), 
    'subcategory': unique_subcategories })

# Use a list comprehension to add "cat" to each category_id. 
category_df['category_id'] = ['cat' + str(id) for id in category_df['category_id']]

# Use a list comprehension to add "subcat" to each subcategory_id.    
subcategory_df['subcategory_id'] = ['subcat' + str(id) for id in subcategory_df['subcategory_id']]
    
print(category_df['category_id'])
print(subcategory_df['subcategory_id'])

0    cat1
1    cat2
2    cat3
3    cat4
Name: category_id, dtype: object
0    subcat1
1    subcat2
2    subcat3
3    subcat4
Name: subcategory_id, dtype: object

In [45]:
import pandas as pd
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.

# Category_id array and categories list
category_id = ['cat1', 'cat2', 'cat3', 'cat4']
categories = ['food', 'music', 'technology', 'theater']

# Create the Category DataFrame
category_df = pd.DataFrame({
    'category_id': category_id,
    'category': categories
})


# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 

# Subcategory_id array and subcategories list
subcategory_id = ['subcat1', 'subcat2', 'subcat3', 'subcat4']
subcategories = ['food trucks', 'rocks', 'web', 'plays']

# Create the Subcategory DataFrame
subcategory_df = pd.DataFrame({
    'subcategory_id': subcategory_id,
    'subcategory': subcategories
})

# Print the Category DataFrame
print(category_df)

# Print the Subcategory DataFrame
print(subcategory_df)

  category_id    category
0        cat1        food
1        cat2       music
2        cat3  technology
3        cat4     theater
  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2        rocks
2        subcat3          web
3        subcat4        plays

In [46]:
category_df

  category_id    category
0        cat1        food
1        cat2       music
2        cat3  technology
3        cat4     theater

In [47]:
subcategory_df

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2        rocks
2        subcat3          web
3        subcat4        plays

In [48]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

print("Category and Subcategory DataFrames have been exported as CSV files.")

Category and Subcategory DataFrames have been exported as CSV files.

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [50]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

     category  subcategory
0        food  food trucks
1       music        rocks
2  technology          web
3     theater        plays

In [51]:
# Rename the blurb, launched_at, and deadline columns.
import pandas as pd

# Create the blurb, launch and deadline DataFrame 
data = {
    'blurb': [
        'Pre-emptive tertiary standardization', 
        'Managed bottom-line architecture', 
        'Function-based leading-edge pricing structure', 
        'Proactive foreground core'
    ],
    'launched_at': ['2020-02-13', '2021-01-25', '2020-12-17', '2020-12-21'],
    'deadline': ['2021-03-01', '2021-05-25', '2021-12-30', '2021-08-23']
}

df = pd.DataFrame(data)

# Rename columns
df = df.rename(columns={
    'blurb': 'description',
    'launched_at': 'launch_date',
    'deadline': 'end_date'
})

# Print the updated DataFrame
print(df)

                                     description launch_date    end_date
0           Pre-emptive tertiary standardization  2020-02-13  2021-03-01
1               Managed bottom-line architecture  2021-01-25  2021-05-25
2  Function-based leading-edge pricing structure  2020-12-17  2021-12-30
3                      Proactive foreground core  2020-12-21  2021-08-23

In [52]:
# Convert the goal and pledged columns to a `float` data type.
import pandas as pd

# Create the goal and pledge DataFrame 
data = {
    'goal': ['100', '1400', '108400', '4200'],
    'pledged': ['0', '14560', '142523', '2477']
}

df = pd.DataFrame(data)

# Convert the goal and pledged columns to float data type
df['goal'] = df['goal'].astype(float)
df['pledged'] = df['pledged'].astype(float)

# Print the updated DataFrame
print(df)

       goal   pledged
0     100.0       0.0
1    1400.0   14560.0
2  108400.0  142523.0
3    4200.0    2477.0

In [53]:
# Check the datatypes
print(df.dtypes)

goal       float64
pledged    float64
dtype: object

In [54]:
from datetime import datetime as dt
import pandas as pd
from datetime import datetime as dt

# Create the blurb, launch and deadline DataFrame
data = {
    'description': [
        'Pre-emptive tertiary standardization', 
        'Managed bottom-line architecture', 
        'Function-based leading-edge pricing structure', 
        'Proactive foreground core'
    ],
    'launch_date': ['2020-02-13', '2021-01-25', '2020-12-17', '2020-12-21'],
    'end_date': ['2021-03-01', '2021-05-25', '2021-12-30', '2021-08-23']
}

df = pd.DataFrame(data)

# Format the launched_date and end_date columns to datetime format
df['launch_date'] = pd.to_datetime(df['launch_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

# Print the updated DataFrame and check the datatypes
print(df)
print(df.dtypes)

                                     description launch_date   end_date
0           Pre-emptive tertiary standardization  2020-02-13 2021-03-01
1               Managed bottom-line architecture  2021-01-25 2021-05-25
2  Function-based leading-edge pricing structure  2020-12-17 2021-12-30
3                      Proactive foreground core  2020-12-21 2021-08-23
description            object
launch_date    datetime64[ns]
end_date       datetime64[ns]
dtype: object

In [55]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
import pandas as pd

# Create the DataFrames 
data_campaign = {
    'campaign': ['Campaign1', 'Campaign2', 'Campaign3', 'Campaign4'],
    'category': ['food', 'music', 'technology', 'theater'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays'],
    'goal': [1000, 1500, 2000, 2500],
    'pledged': [500, 1200, 2100, 2600],
    'launch_date': ['2020-02-13', '2021-01-25', '2020-12-17', '2020-12-21'],
    'end_date': ['2021-03-01', '2021-05-25', '2021-12-30', '2021-08-23']
}

campaign_df = pd.DataFrame(data_campaign)

category_df = pd.DataFrame({
    'category_id': ['cat1', 'cat2', 'cat3', 'cat4'],
    'category': ['food', 'music', 'technology', 'theater']
})

subcategory_df = pd.DataFrame({
    'subcategory_id': ['subcat1', 'subcat2', 'subcat3', 'subcat4'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays']
})

# Convert launch_date and end_date columns to datetime format
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'])
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])

# Merge campaign_df with category_df on the "category" column
merged_df = pd.merge(campaign_df, category_df, on='category')

# Merge the result with subcategory_df on the "subcategory" column
campaign_cleaned_df = pd.merge(merged_df, subcategory_df, on='subcategory')

# Print the final merged DataFrame
print(campaign_cleaned_df)

# Display the last 10 rows of the final merged DataFrame
print(campaign_cleaned_df.tail(10))

    campaign    category  subcategory  goal  pledged launch_date   end_date  \
0  Campaign1        food  food trucks  1000      500  2020-02-13 2021-03-01
1  Campaign2       music        rocks  1500     1200  2021-01-25 2021-05-25
2  Campaign3  technology          web  2000     2100  2020-12-17 2021-12-30
3  Campaign4     theater        plays  2500     2600  2020-12-21 2021-08-23

  category_id subcategory_id
0        cat1        subcat1
1        cat2        subcat2
2        cat3        subcat3
3        cat4        subcat4
    campaign    category  subcategory  goal  pledged launch_date   end_date  \
0  Campaign1        food  food trucks  1000      500  2020-02-13 2021-03-01
1  Campaign2       music        rocks  1500     1200  2021-01-25 2021-05-25
2  Campaign3  technology          web  2000     2100  2020-12-17 2021-12-30
3  Campaign4     theater        plays  2500     2600  2020-12-21 2021-08-23

  category_id subcategory_id
0        cat1        subcat1
1        cat2        subcat2
2        cat3        subcat3
3        cat4        subcat4

In [56]:
# Drop unwanted columns
import pandas as pd

# Create the DataFrame 
data = {
    'campaign': ['Campaign1', 'Campaign2', 'Campaign3', 'Campaign4'],
    'category': ['food', 'music', 'technology', 'theater'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays'],
    'goal': [1000, 1500, 2000, 2500],
    'pledged': [500, 1200, 2100, 2600],
    'launch_date': ['2020-02-13', '2021-01-25', '2020-12-17', '2020-12-21'],
    'end_date': ['2021-03-01', '2021-05-25', '2021-12-30', '2021-08-23'],
    'category_id': ['cat1', 'cat2', 'cat3', 'cat4'],
    'subcategory_id': ['subcat1', 'subcat2', 'subcat3', 'subcat4']
}

campaign_cleaned_df = pd.DataFrame(data)

# Drop unwanted columns
campaign_cleaned_df = campaign_cleaned_df.drop(columns=['category', 'subcategory'])

# Print the updated DataFrame
print(campaign_cleaned_df)

    campaign  goal  pledged launch_date    end_date category_id subcategory_id
0  Campaign1  1000      500  2020-02-13  2021-03-01        cat1        subcat1
1  Campaign2  1500     1200  2021-01-25  2021-05-25        cat2        subcat2
2  Campaign3  2000     2100  2020-12-17  2021-12-30        cat3        subcat3
3  Campaign4  2500     2600  2020-12-21  2021-08-23        cat4        subcat4

In [57]:
import pandas as pd

# Create the DataFrame 
data = {
    'campaign': ['Campaign1', 'Campaign2', 'Campaign3', 'Campaign4'],
    'category': ['food', 'music', 'technology', 'theater'],
    'subcategory': ['food trucks', 'rocks', 'web', 'plays'],
    'goal': [1000, 1500, 2000, 2500],
    'pledged': [500, 1200, 2100, 2600],
    'launch_date': ['2020-02-13', '2021-01-25', '2020-12-17', '2020-12-21'],
    'end_date': ['2021-03-01', '2021-05-25', '2021-12-30', '2021-08-23'],
    'category_id': ['cat1', 'cat2', 'cat3', 'cat4'],
    'subcategory_id': ['subcat1', 'subcat2', 'subcat3', 'subcat4']
}

campaign_cleaned_df = pd.DataFrame(data)

# Drop unwanted columns
campaign_cleaned_df = campaign_cleaned_df.drop(columns=['category', 'subcategory'])

# Export the DataFrame as a CSV file
campaign_cleaned_df.to_csv("Resources/campaign.csv", index=False)

print("The cleaned campaign DataFrame has been exported as a CSV file.")

The cleaned campaign DataFrame has been exported as a CSV file.

### Extract the contacts.xlsx Data.

In [59]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [62]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

[]

In [63]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [64]:
# Check the datatypes
print(campaign_cleaned_df.dtypes)

campaign          object
goal               int64
pledged            int64
launch_date       object
end_date          object
category_id       object
subcategory_id    object
dtype: object

In [65]:
import pandas as pd

# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 

# Create the DataFrame 
data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez']
}

df = pd.DataFrame(data)

# Split the 'name' column into 'first_name' and 'last_name' columns
df[['first_name', 'last_name']] = df['name'].str.split(' ', n=1, expand=True)

# Drop the contact_name column
if 'contact_name' in df.columns:
    df = df.drop(columns=['contact_name']) 

# Print the updated DataFrame
print(df)

                         name first_name            last_name
0   Riley and Jackson Baldwin      Riley  and Jackson Baldwin
1   Robinson and Fritz Melton   Robinson     and Fritz Melton
2  Coleman and Mitchell Ortiz    Coleman   and Mitchell Ortiz
3   Johnson and Gardner Perez    Johnson    and Gardner Perez

In [66]:
import pandas as pd

# Reorder the columns

# Example DataFrame creation
data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'first_name': ['Railey and Jackson', 'Robinson and Fritz', 'Coleman and Mitchell', 'Johnson and Gardner'],
    'last_name': ['Baldwin', 'Melton', 'Ortiz', 'Perez']
}

df = pd.DataFrame(data)

# Specify the new column order
new_column_order = ['first_name', 'last_name', 'name']

# Reorder the columns
df = df[new_column_order]

# Print the updated DataFrame
print(df)

             first_name last_name                        name
0    Railey and Jackson   Baldwin   Riley and Jackson Baldwin
1    Robinson and Fritz    Melton   Robinson and Fritz Melton
2  Coleman and Mitchell     Ortiz  Coleman and Mitchell Ortiz
3   Johnson and Gardner     Perez   Johnson and Gardner Perez

In [67]:
# Check the datatypes one more time before exporting as CSV file.

In [68]:
import pandas as pd

data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Split the 'name' column into 'first_name' and 'last_name' columns
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' ', n=1, expand=True)

# Drop the 'contact_id' column
if 'contact_name' in contacts_df.columns:
    contacts_df_clean = contacts_df.drop(columns=['contact_name'])
else:
    contacts_df_clean = contacts_df

# Reorder the columns
new_column_order = ['first_name', 'last_name', 'name']
contacts_df_clean = contacts_df_clean[new_column_order]

# Export the DataFrame as a CSV file
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

print("The cleaned contacts DataFrame has been exported as a CSV file.")

The cleaned contacts DataFrame has been exported as a CSV file.

### Option 2: Use regex to create the contacts DataFrame.

In [70]:
import pandas as pd

data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contact_info_df = pd.DataFrame(data)

# Create a copy of the DataFrame
contact_info_df_copy = contact_info_df.copy()

# Display the first few rows of the copied DataFrame
print(contact_info_df_copy.head())

                         name contact_id
0   Riley and Jackson Baldwin       4661
1   Robinson and Fritz Melton       4187
2  Coleman and Mitchell Ortiz       5889
3   Johnson and Gardner Perez       4904

In [71]:
import pandas as pd

data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Extract the four-digit contact ID number
contacts_df['contact_id_number'] = contacts_df['contact_id'].str.extract(r'(\d{4})')

# Print the updated DataFrame
print(contacts_df)

                         name contact_id contact_id_number
0   Riley and Jackson Baldwin       4661              4661
1   Robinson and Fritz Melton       4187              4187
2  Coleman and Mitchell Ortiz       5889              5889
3   Johnson and Gardner Perez       4904              4904

In [72]:
import pandas as pd

data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904'],
    'contact_id_number': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Check the datatypes
print(contacts_df.dtypes)

name                 object
contact_id           object
contact_id_number    object
dtype: object

In [73]:
# Convert the "contact_id" column to an int64 data type.

In [74]:
import pandas as pd
 
data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Extract the name of the contact and add it to a new column.
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' and ', expand=True)

# Print the updated DataFrame
print(contacts_df)

                         name contact_id first_name        last_name
0   Riley and Jackson Baldwin       4661      Riley  Jackson Baldwin
1   Robinson and Fritz Melton       4187   Robinson     Fritz Melton
2  Coleman and Mitchell Ortiz       5889    Coleman   Mitchell Ortiz
3   Johnson and Gardner Perez       4904    Johnson    Gardner Perez

In [75]:
import pandas as pd

data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_info': ['Riley.Baldwin@example.com', 'Robinson.Melton@example.com', 'Coleman.Ortiz@example.com', 'Johnson.Perez@example.com'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Extract the email from the contacts and add the values to a new column.
contacts_df['email'] = contacts_df['contact_info']

# Print the updated DataFrame
print(contacts_df)

                         name                 contact_info contact_id  \
0   Riley and Jackson Baldwin    Riley.Baldwin@example.com       4661
1   Robinson and Fritz Melton  Robinson.Melton@example.com       4187
2  Coleman and Mitchell Ortiz    Coleman.Ortiz@example.com       5889
3   Johnson and Gardner Perez    Johnson.Perez@example.com       4904

                         email
0    Riley.Baldwin@example.com
1  Robinson.Melton@example.com
2    Coleman.Ortiz@example.com
3    Johnson.Perez@example.com

In [76]:
import pandas as pd

# Create the DataFrame 
data = {
    'contact_id': ['4661', '4187', '5889', '4904'],
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'email': ['riley.baldwin@example.com', 'robinson.melton@example.com', 'coleman.ortiz@example.com', 'johnson.perez@example.com'],
    'phone': ['123-456-7890', '987-654-3210', '555-555-5555', '444-444-4444']
}

# Create the DataFrame
contact_info_df = pd.DataFrame(data)

# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_info_df_copy = contact_info_df[['contact_id', 'name', 'email']].copy()

# Print the copied DataFrame
print(contact_info_df_copy)

  contact_id                        name                        email
0       4661   Riley and Jackson Baldwin    riley.baldwin@example.com
1       4187   Robinson and Fritz Melton  robinson.melton@example.com
2       5889  Coleman and Mitchell Ortiz    coleman.ortiz@example.com
3       4904   Johnson and Gardner Perez    johnson.perez@example.com

In [77]:
import pandas as pd

# Create a DataFrame with the given data
data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Split the 'name' column into 'first_name' and 'last_name' columns
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' and ', expand=True)

# Print the updated DataFrame
print(contacts_df)

# Drop the 'contact_id' column
contacts_df_clean = contacts_df.drop(columns=['contact_id'])

# Print the updated DataFrame
print(contacts_df_clean)

                         name contact_id first_name        last_name
0   Riley and Jackson Baldwin       4661      Riley  Jackson Baldwin
1   Robinson and Fritz Melton       4187   Robinson     Fritz Melton
2  Coleman and Mitchell Ortiz       5889    Coleman   Mitchell Ortiz
3   Johnson and Gardner Perez       4904    Johnson    Gardner Perez
                         name first_name        last_name
0   Riley and Jackson Baldwin      Riley  Jackson Baldwin
1   Robinson and Fritz Melton   Robinson     Fritz Melton
2  Coleman and Mitchell Ortiz    Coleman   Mitchell Ortiz
3   Johnson and Gardner Perez    Johnson    Gardner Perez

In [78]:
import pandas as pd

# Reorder the columns
new_column_order = ['name', 'contact_id', 'email']
contact_info_df = contact_info_df[new_column_order]

# Print the reordered DataFrame
print(contact_info_df)

                         name contact_id                        email
0   Riley and Jackson Baldwin       4661    riley.baldwin@example.com
1   Robinson and Fritz Melton       4187  robinson.melton@example.com
2  Coleman and Mitchell Ortiz       5889    coleman.ortiz@example.com
3   Johnson and Gardner Perez       4904    johnson.perez@example.com

In [79]:
# Check the datatypes one more time before exporting as CSV file.

In [80]:
import pandas as pd

# Create the DataFrame 
data = {
    'name': ['Riley and Jackson Baldwin', 'Robinson and Fritz Melton', 'Coleman and Mitchell Ortiz', 'Johnson and Gardner Perez'],
    'contact_id': ['4661', '4187', '5889', '4904']
}

# Create the DataFrame
contacts_df = pd.DataFrame(data)

# Split the 'name' column into 'first_name' and 'last_name' columns
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' and ', expand=True)

# Drop the 'contact_id' column
contacts_df_clean = contacts_df.drop(columns=['contact_id'])

# Export the DataFrame as a CSV file
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

print("The cleaned contacts DataFrame has been exported as a CSV file.")

The cleaned contacts DataFrame has been exported as a CSV file.